<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Système de contrôle d'accès</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylegestionstation.css') }}"/>

</head>
<body>
<header>
  <h1 class="titre">Système de contrôle d'accès</h1>
    <img src="{{url_for('static', filename='images/RFID.jpg') }}" alt="Bienvenue">
  <footer>
  &copy; 2026 BTS CIEL -    © 2026 BTS CIEL - Contrôle d'accès
</footer>
</body>
</html>
